.txtBold {
  font-weight: 700;
  font-size: 0.97rem;

  @media screen and (min-width: 900px) {
    font-size: 1.1rem;
  }
}

.txtLight {
  font-size: 0.85rem;
}

.rightStep {
  @media screen and (min-width: 900px) {
    margin-left: 3rem;
  }
}