@use 'variables' as *;
@use 'mixin' as *;

.containerResponsables {
  // border: 2px solid orange;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @include paddingContainers();

  &__title {
    margin-bottom: 1.5rem;
    @include titles();
  }

  &__imgBG {
    rotate: 180deg;
    position: absolute;
    top: 15%;
    left: 0px;
    opacity: 0.2;
    width: 50vw;
    max-width: 300px;
    min-width: 210px;

    @media screen and (min-width: 768px) {
      top: 0;
      left: 0;
    }
  }

  &__threeColumns {
    width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 6rem;
    }
    
    &__circlesContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 340px;

      &__cicrcles {
        
        @include circlesPeoples($borderTop: $BlueDark, $borderBottom: $BlueCyan);
        
        &--img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          z-index: 2;
          padding: 12px;
          border-radius: 50%;
          position: relative;
        }
      }

      &--name {
        color: $BlueDark;
        font-size: 1.4rem;
        margin-bottom: 12px;
        margin-top: 25px;
      }

      &--description {
        color: $BlueDark;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }
}

.containerAliadosInternos {
  // border: 2px solid red;
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  &__title {
    @include titles();
  }
  
  &__fourColumns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: transform 0.3s;
    
    @include paddingContainers();
    
    &__circles {
      
      @include circlesPeoples($borderTop: $BlueCyan, $borderBottom: transparent);

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        z-index: 2;
        padding: 12px;
        border-radius: 50%;
        position: relative;
      }
    }
  }
  
  &__controls {
    margin-top:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 10;

    
    &--btn {
      background: none;
      border: none;
      outline: none;
      color: $BlueDark;
      cursor:pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      
      &:hover{
        transform:scale(1.1);
      }

      &>svg {
        width: 35px;
        height: 35px;
      }
    }
    
    &--dots {
      display:flex;
      gap: 0.5rem;
      // z-index: 10;

      .dot {
        width: 12px;
        height: 12px;
        border-radius:50%;
        border: 1px solid $BlueDark;
        outline: none;
        cursor:pointer;
        transition: 0.3s;

        &.active {
          border: none;
          background:$BlueCyan;
          transform:scale(1.2);
        }
      }
    }
  }

  &__autoplayBar {
    width: 77%;
    height: 5px;
    background: #d8d8d8;
    margin-top: 1.5rem;
    position: relative;
    overflow: hidden;

    &::after{
      content:"";
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      background:$BlueCyan;
      transform:translateX(-100%);
    }

    &.run::after{
      animation: autoplayBar 5s linear forwards;
    }
  }

  &__imgBG {
    // border: 2px solid blue;
    position: absolute;
    right: 0px;
    width: 50vw;
    max-width: 300px;
    min-width: 150px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
  }
}

@keyframes autoplayBar {
  from{transform:translateX(-100%);}
  to{transform:translateX(0);}
}

.slide-right{
  animation: slideRight .4s ease forwards;
}
.slide-left{
  animation: slideLeft .4s ease forwards;
}

@keyframes slideRight{
  from{opacity:0; transform:translateX(30px);}
  to{opacity:1; transform:translateX(0);}
}
@keyframes slideLeft{
  from{opacity:0; transform:translateX(-30px);}
  to{opacity:1; transform:translateX(0);}
}

.containerAdescription {
  // border: 2px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.93rem;
  margin: 8rem 0rem;

  &__line {
    width: 100%;
    // border: 2px solid red;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
    text-align: left;
    max-width: 750px;
    padding-left: 1rem;
    margin: 0 auto;

    &--imgEspiral {
      opacity: 0.3;
      width: 20vw;
      max-width: 45px;
      min-width: 35px;
      object-fit: cover;
      flex-shrink: 0;
    }

    &--description {
      font-weight: 700;
      color: $BlueDark;
      font-size: 0.93rem;

      @media screen and (min-width: 900px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1.1rem;
      }
    }
  }
}

.containerAliadosExternos {
  // border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 0rem 0rem 10rem;

  &__title {
    @include titles($fontColor: $Orange);
  }

  &__containerTxt {
    background-color: $BlueDark;
    color: white;
    padding: 2rem 7rem;
    border-radius: 1.7rem;
    border: 7px solid $Orange;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.3rem;
  }
}